.equaliser {
  display: flex;
  align-items: flex-end;
  gap: 2px;
  height: 16px;
  width: 20px;
}

.bar {
  width: 3px;
  height: 4px;
  background-color: white;
  opacity: 0.8;
  animation: equalize 0.6s ease-in-out infinite alternate;
  animation-play-state: paused;
}

.equaliser.active .bar {
  animation-play-state: running;
}

.bar:nth-child(1) {
  animation-delay: 0s;
}
.bar:nth-child(2) {
  animation-delay: 0.1s;
}
.bar:nth-child(3) {
  animation-delay: 0.2s;
}
.bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes equalize {
  from {
    height: 3px;
  }
  to {
    height: 16px;
  }
}
