.sessionGallery {
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  width: 905px;
}

/* scrollbar styling. these should probably be in their own css file but im not gonna do it ahahaha */

.sessionGallery::-webkit-scrollbar {
  width: 8px;
}

.sessionGallery::-webkit-scrollbar-track {
  background: transparent;
}

.sessionGallery::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
  border: 2px solid transparent;
}

.sessionGallery::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* firefox */
@-moz-document url-prefix() {
  .sessionGallery {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }
}

/* IE and edge */
.sessionGallery {
  -ms-overflow-style: none; /* hides default scrollbar */
}

.sessionGallery::-ms-scrollbar {
  display: none; /* hides default scrollbar */
}

@media (max-width: 768px) {
  .sessionGallery {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    overflow-y: visible;
    width: 100%;
    max-width: 500px;
  }

  .sessionGallery hr {
    width: 100%;
  }

  .imageContainer {
    width: 100%;
    aspect-ratio: 750 / 410;
    background: black;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modalImage {
    width: 100%;
    height: auto;
    object-position: center;
    display: block;
  }

  .iconContainer {
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 2px;
  }

  .mobileMovieDetails {
    display: flex;
    flex-direction: column;
    background: #212529;
    color: white;
  }

  .mobileMovieList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 100%;
    max-width: 500px;
  }

  .textBlock {
    padding: 16px 16px 16px;
    background-color: #333;
    border-radius: 0 0 10px 10px;
  }

  .titleRow {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .movieTitle {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    line-height: 1.3;
  }

  .mobileMovieHeader {
    position: relative;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titleWrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .headerTitle {
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .backButton {
    position: absolute;
    left: 0;
    cursor: pointer;
    color: white;
    font-size: 0.95rem;
    transition:
      color 0.2s,
      text-decoration 0.2s;
    background-color: #333;
    border-radius: 10px;
    padding: 7px;
    width: 50px;
    text-align: center;
  }

  .backButton:hover {
    color: #e0e0e0;
  }

  .dateContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #444;
    padding: 10px;
  }

  .dateBox {
    display: inline-block;
    font-size: 0.8rem;
    text-align: center;
    white-space: nowrap;
  }

  .cinemaContainer:after {
    content: "";
    display: table;
    clear: both;
  }

  .cinemaColumn {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    gap: 10px;
  }

  .cinemaLink {
    color: #46dae7;
    text-decoration: none;
    font-size: 0.75rem;
  }
}
