.sessionRow {
  width: 856px;
  padding-bottom: 30px;
}

.lastSessionRow {
  width: 856px;
  padding-bottom: 0px;
}

.sessionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.sessionRow h5,
.lastSessionRow h5 {
  font-weight: 600;
}

@media (max-width: 768px) {
  .sessionRow {
    width: 100%;
  }

  .lastSessionRow {
    width: 100%;
  }

  .sessionContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 18px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 15px;
    background-color: #333;
    border-radius: 10px;
    padding: 16px;
  }

  .sessionContainer > * {
    flex: 0 0 auto;
  }

  .sessionRow h5,
  .lastSessionRow h5 {
    font-size: 1rem;
  }
}
