.pictureContainer {
  width: calc(100% - 40px);
  margin: 20px 20px 0px 20px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 15px;
  row-gap: 0px;

  box-sizing: border-box;
}

.emptyMediaCard {
  position: flex;
  width: 220px;
  height: 120px;
}
