.aboutPage {
  position: relative;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

.aboutPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.allenmaygibson.com/images/static/stadium-high.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.5);
  z-index: -1;
}

.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 60%;
}

.descriptionBox {
  position: relative;
  padding: 20px;
  background-color: none;
  border-radius: 10px;
  text-align: center;
  width: 57%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descriptionBox h3 {
  font-weight: 600;
  padding-bottom: 10px;
}

.descriptionBox h5 {
  padding-top: 10px;
}

.smallText {
  font-size: 0.6em;
}

@media (max-width: 768px) {
  .aboutPage {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    background: #212529;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    display: block;
    justify-content: unset;
    align-items: unset;
    overflow: visible;
    color: white;
  }

  .centeredContainer {
    display: block !important;
    flex-direction: unset !important;
    align-items: unset !important;
    width: 100%;
  }

  .descriptionBox {
    display: block !important;
    flex-direction: unset !important;
    align-items: unset !important;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    max-width: 500px;
  }

  .descriptionBox h3 {
    font-size: 1.1rem;
  }
  .descriptionBox h5 {
    font-size: 0.9rem;
    padding-top: 5px;
  }

  .pageList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 55px;
  }

  .pageItem {
    display: flex;
    flex-direction: column;
  }

  .pageTitle {
    font-size: 1.3rem;
    font-weight: 600;
    color: #ccc;
    margin: 0;
    transition: color 0.2s;
    cursor: pointer;
    text-decoration: none;
  }

  .pageTitle:hover {
    color: #fff;
  }

  .pageSubtitle {
    font-size: 1rem;
    font-weight: 600;
    color: #7f7f7f;
    margin: 2px 0 0 0;
  }
}
