.movieGallery {
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  width: 907px;
}

/* scrollbar styling. these should probably be in their own css file but im not gonna do it ahahaha */

.movieGallery::-webkit-scrollbar {
  width: 8px;
}

.movieGallery::-webkit-scrollbar-track {
  background: transparent;
}

.movieGallery::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
  border: 2px solid transparent;
}

.movieGallery::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.newEntitiesRow {
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
}

.newEntitiesRow h5 {
  font-weight: 600;
}

.movieGallery hr {
  width: 856px;
}

/* firefox */
@-moz-document url-prefix() {
  .movieGallery {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }
}

/* IE and edge */
.movieGallery {
  -ms-overflow-style: none; /* hides default scrollbar */
}

.movieGallery::-ms-scrollbar {
  display: none; /* hides default scrollbar */
}
