.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 100%;

  overflow: hidden;
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.textContainer {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 20px;
  overflow-y: auto;
  background-color: #1a1a1a;
  color: white;
  overflow: visible;
  border-radius: 10px;
  z-index: 1005;
}

.formFields {
  height: 345px;
  overflow-y: auto;
  padding-right: 20px;
}

.formGroup {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.formGroup label {
  width: 125px;
  margin-right: 1rem;
  text-align: left;
}

.formGroup input {
  flex: 1;
  border-radius: 5px;
}

.formGroup input:focus {
  outline: none;
  box-shadow: none;
}

.title {
  padding-bottom: 30px;
}

.title,
label {
  font-weight: 600;
}

.hiddenInput {
  display: none;
}

.button {
  padding: 7px 15px;
  background-color: #1a1a1a;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.deleteButton {
  padding: 7px 15px;
  background-color: #1a1a1a;
  color: #c11c1c;
  border: 1px solid #c11c1c;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.buttonContainer {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

input[type="checkbox"]:checked {
  color: #1a1a1a;
  background-color: white;
}

.result {
  padding-left: 30px;
}

input[type="file"] {
  width: 100%;
}

/* scrollbar styling. these should probably be in their own css file but im not gonna do it ahahaha */

.formFields::-webkit-scrollbar {
  width: 8px;
}

.formFields::-webkit-scrollbar-track {
  background: transparent;
}

.formFields::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
  border: 2px solid transparent;
}

.formFields::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.newPictureRow {
  width: 100%;
  padding-bottom: 30px;
}

.newPictureRow h5 {
  font-weight: 600;
}

.formFields hr {
  width: 856px;
}

/* firefox */
@-moz-document url-prefix() {
  .formFields {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }
}

/* IE and edge */
.formFields {
  -ms-overflow-style: none; /* hides default scrollbar */
}

.formFields::-ms-scrollbar {
  display: none; /* hides default scrollbar */
}
