.mobileNavBar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 10px 20px;
  z-index: 1000;

  height: 115px;
  background-size: cover;
  background-position: center;
}

.mobileNavBar h3 {
  font-size: 1.15rem;
  margin: 0;
  color: white;
  font-weight: 600;
}

.mobileNavBar::before {
  height: 115px;
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.mobileNavBar > * {
  position: relative;
  z-index: 1;
}

.navItems {
  position: absolute;
  top: 10px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  max-height: 70px;
}

.navItem {
  font-size: 0.85rem;
  color: rgba(220, 220, 220, 0.6);
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.2s;
  text-decoration: none;
  font-weight: 600;
}

.navItem:hover {
  color: rgba(255, 255, 255, 0.8);
}

.navItem.active {
  color: white;
  font-weight: 500;
}
