.pictureStatsRow {
  width: 856px;
  padding-bottom: 0px;
}

.pictureStatsRow h5 {
  font-weight: 600;
}

.title {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stat {
  font-size: 15px;
  padding-bottom: 10px;
}

.lastStat {
  font-size: 15px;
  padding-bottom: 0;
}

.statKey {
  font-weight: bold;
}

.cinema {
  padding-top: 5px;
}
