.operationKinoContainer {
  position: relative;
  padding: 20px;
  width: 950px;
  height: calc(100vh - 110px);
  margin: 20px;
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding-bottom: 25px;
}

.descriptionBox {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.collapsedDescriptionBox {
  padding-top: 23px;
  height: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.descriptionBox h3,
.collapsedDescriptionBox h3 {
  font-weight: 600;
}

.collapseButton {
  position: absolute;
  z-index: 4;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  right: 20px;
  top: 8px;
}

.collapseButton:hover {
  text-decoration: underline;
}

.itsAGoodDayToDance {
  font-style: italic;
}

@media (max-width: 768px) {
  .descriptionBox h3 {
    display: none;
  }

  .descriptionBox {
    padding-top: 15px;
  }

  .itsAGoodDayToDance {
    display: none;
  }

  .descriptionBox h5 {
    font-size: 0.9rem;
  }

  .collapseButton {
    display: none;
  }

  .collapsedDescriptionBox {
    height: auto;
    overflow: visible;
    padding-top: 0;
  }

  .operationKinoContainer {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: #212529;
    border-radius: 0;
  }

  .itsAGoodDayToDance {
    display: none;
  }
}
