.qstFmPage {
  position: relative;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

.qstFmPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.5);
  z-index: -1;
}

.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 60%;
}

.descriptionBox {
  position: relative;
  padding: 20px;
  background-color: none;
  border-radius: 10px;
  text-align: center;
  width: 57%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descriptionBox h5 {
  padding-top: 10px;
}

@media (max-width: 768px) {
  .qstFmPage {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    background: #212529;
    box-sizing: border-box;

    display: block;
    justify-content: unset;
    align-items: unset;
    overflow: visible;
    color: white;
  }

  .qstFmContainer {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: #212529;
    border-radius: 0;
  }

  .descriptionBox {
    display: block !important;
    flex-direction: unset !important;
    align-items: unset !important;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    text-align: left;
  }

  .imageContainer {
    height: 200px;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .imageContainer img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .descriptionBox h5 {
    font-size: 0.9rem;
  }

  .time {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
