.qstFmPage {
  position: relative;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

.qstFmPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.allenmaygibson.com/images/static/roddy.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.5);
  z-index: -1;
}

.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 60%;
}

.descriptionBox {
  position: relative;
  padding: 20px;
  background-color: none;
  border-radius: 10px;
  text-align: center;
  width: 57%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descriptionBox h5 {
  padding-top: 10px;
}
