.sessionRow {
  width: 856px;
  padding-bottom: 30px;
}

.lastSessionRow {
  width: 856px;
  padding-bottom: 0px;
}

.sessionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.sessionRow h5,
.lastSessionRow h5 {
  font-weight: 600;
}
