.mediaCard {
  position: relative;
  width: 195px;
  height: 105px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  background-color: black;
  z-index: 99;
}

.mediaCard::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: background-color 0.1s;
}

.mediaCard:hover::before {
  background-color: transparent;
}

.mediaImage {
  flex: 1.6;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mediaTitle {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 3;
  color: white;
  font-weight: 600;
  font-size: medium;
  text-align: left;
  transition: color 0.3s;
  white-space: normal;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 1;
  transition: opacity 0.1s ease-out;
}

.mediaCard:hover .mediaTitle,
.mediaCard:hover .motif {
  opacity: 0;
}

.edit {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.editIcon {
  padding-top: 3px;
  padding-right: 3px;
  fill: white;
  text-shadow: 5px;
  z-index: 4;
}

.motif {
  padding-top: 10px;
  padding-right: 10px;
  z-index: 3;
  height: 32px;
  width: 32px;
}

@media (max-width: 768px) {
  .mediaCard {
    position: relative;
    width: 130px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background-color: black;
    z-index: 99;
  }

  .mediaTitle {
    font-size: small;
    font-weight: 600;
    width: 70%;
    left: 7px;
  }

  .motif {
    padding-top: 5px;
    padding-right: 5px;
    z-index: 3;
    height: 22px;
    width: 22px;
  }
}
