.pictureMonthRow {
  width: 100%;
  padding-bottom: 30px;
}

.lastPictureMonthRow {
  width: 100%;
  padding-bottom: 0px;
}

.pictureRow {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.pictureMonthRow h5,
.lastPictureMonthRow h5 {
  font-weight: 600;
}
