.pictureMonthRow {
  width: 100%;
  padding-bottom: 30px;
}

.lastPictureMonthRow {
  width: 100%;
  padding-bottom: 0px;
}

.pictureRow {
  display: flex;
  flex-wrap: wrap; /* Allows movies to wrap to a new line if needed */
  gap: 25px;
}

.pictureMonthRow h5,
.lastPictureMonthRow h5 {
  font-weight: 600;
}
