.postContainer {
  position: relative;
  width: 775px;
  height: calc(100vh - 110px);
  margin: 20px;
  color: white;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.imageContainer {
  height: 325px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: height 0.3s ease;
}

.imageContainer img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lessImageContainer {
  height: 18%;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: height 0.3s ease;
}

.lessImageContainer img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textContainer {
  width: 550px;
}

.textContainerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 325px);
  padding-top: 30px;
  transition: height 0.3s ease;
  flex-grow: 1;
  padding-bottom: 30px;
  overflow-y: auto;
}

.moreTextContainerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 78%;
  padding-top: 30px;
  transition: height 0.3s ease;
  flex-grow: 1;
  transition: height 0.3s ease;
  padding-bottom: 30px;
  overflow-y: auto;
}

.markdownContainer a {
  color: #46dae7;
  text-decoration: none;
}

.markdownContainer a:hover {
  text-shadow: 0 0 1px;
}

.metadataContainer {
  padding-bottom: 30px;
}

.metadataContainer h3 {
  font-weight: 600;
}

.metadataContainer p {
  font-size: 15px;
}

.markdownContainer {
  padding-top: 18px;
}

.markdownContainer p {
  padding-bottom: 10px;
}

.backButton,
.hideButton {
  position: absolute;
  top: 10px;
  z-index: 4;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black;
}

.backButton {
  left: 10px;
}

.hideButton {
  right: 10px;
}

.backButton:hover,
.hideButton:hover {
  text-decoration: underline;
}

.embeddedQuote {
  font-style: italic;
  padding-left: 20px;
  border-left: 1px solid white;
  margin: 20px auto;
  width: 100%;
  color: #8b8b8b;
  margin-top: 10px !important;
}

.embeddedLandscapeImage {
  display: block;
  width: 450px;
  height: auto;
  border-radius: 10px;
  margin: auto;
  margin-top: 17px;
  margin-bottom: 17px;
}

.embeddedPortraitImage {
  display: block;
  width: auto;
  height: 250px;
  border-radius: 10px;
  margin-top: 17px;
  margin-bottom: 17px;
}

.embeddedBookImage {
  display: block;
  height: 175px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.embeddedQuote p {
  padding: 0px;
}

.book {
  margin-top: 50px;
}

.markdownContainer > *:last-child,
.markdownContainer > *:last-child > *:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.markdownContainer > *:first-child,
.markdownContainer > *:first-child > *:first-child {
  padding-top: 0px;
  margin-top: 0px;
}

::selection {
  background-color: #b0b0b0;
  color: black;
}

/* scrollbar styling. these should probably be in their own css file but im not gonna do it ahahaha */

.textContainerWrapper::-webkit-scrollbar,
.moreTextContainerWrapper::-webkit-scrollbar {
  width: 8px;
}

.textContainerWrapper::-webkit-scrollbar-track,
.moreTextContainerWrapper::-webkit-scrollbar-track {
  background: transparent;
}

.textContainerWrapper::-webkit-scrollbar-thumb,
.moreTextContainerWrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
  border: 2px solid transparent;
}

.textContainerWrapper::-webkit-scrollbar-thumb:hover,
.moreTextContainerWrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* firefox */
@-moz-document url-prefix() {
  .textContainerWrapper,
  .moreTextContainerWrapper {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }
}

/* IE and edge */
.textContainerWrapper,
.moreTextContainerWrapper {
  -ms-overflow-style: none; /* hides default scrollbar */
}

.textContainerWrapper::-ms-scrollbar,
.moreTextContainerWrapper::-ms-scrollbar {
  display: none; /* hides default scrollbar */
}

@media (max-width: 768px) {
  .postContainer {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: #212529;
    border-radius: 0;
  }

  .imageContainer {
    height: 200px;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .textContainer {
    width: 85%;
  }

  .metadataContainer h3 {
    font-size: 1.2rem;
  }

  .metadataContainer p {
    font-size: 0.9rem;
    opacity: 0.8;
  }

  .markdownContainer h4 b {
    font-size: 1.1rem !important;
  }

  .markdownContainer * {
    font-size: 0.85rem;
  }

  .embeddedLandscapeImage {
    width: 100%;
    margin-bottom: 12px;
  }

  hr {
    margin-top: 0.8rem !important;
  }

  strong {
    font-size: 0.9rem !important;
  }

  .backButtonContainer {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .backButton {
    cursor: pointer;
    color: white;
    font-size: 0.95rem;
    transition: color 0.2s, text-decoration 0.2s;
    top: unset;
    background-color: #333;
    border-radius: 10px;
    padding: 7px;
    width: 50px;
  }

  .backButton:hover {
    text-decoration: none;
  }
}
