.statsPage {
  position: relative;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

.statsPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.allenmaygibson.com/images/static/amanda.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.5);
  z-index: -1;
}

.textBox {
  padding: 20px;
  border-radius: 10px;
  margin: 20px 20px 0px 20px;
  color: white;
  display: inline-block;
  z-index: 1;
  text-align: center;
}

.stat {
  margin-top: 20px;
}

.title {
  font-weight: 600;
}
