.buttonArea {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  padding-bottom: 20px;
}

.arrow {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 5px;
  position: relative;
  top: -2px;
}

.arrow:disabled {
  opacity: 0.3;
  cursor: default;
}
